apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: {{ master.cluster.kubernetes_version }}
controlPlaneEndpoint: "{{ master.cluster.control_plane_endpoint }}"
networking:
    podSubnet: "{{ master.cluster.pod_subnet }}"