vrrp_script check_haproxy {
    script "killall -0 haproxy"
    interval 2 
    weight 2
}

vrrp_instance VI_1 {
    state MASTER 
    interface ens3
    virtual_router_id 255
    priority 102 
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass Y2xvdWRlcnMK
    }
    {% if inventory_hostname = 'lb01' %}
    unicast_src_ip {{ lb.ip.lb01 }}
    unicast_peer {
        {{ lb.ip.lb02 }}
    }
    {% elif inventory_hostname = 'lb02' %}
    unicast_src_ip {{ lb.ip.lb02 }}
    unicast_peer {
        {{ lb.ip.lb01 }}
    }
    {% endif %}

    virtual_ipaddress {
        {{ lb.ip.vip }}
    }
    
    track_script {
        check_haproxy
    }
}
